<script type="text/ecmascript-6">
  import Layout from '../components/Layout/MainLayout.vue'

  export default {
    data () {
      return {
        members: [],
        membersLoaded: false
      }
    },

    components: {
      Layout
    },

    mounted () {
      document.title = 'Mad Panda'

      this.loadMembers()
    },

    methods: {
      loadMembers () {
        this.$http.get('/api/members.json')
          .then(response => {
            this.members = _.orderBy(response.data, [x => x.name], ['asc'])
            this.membersLoaded = true
          })
      }
    }
  }
</script>

<template>
    <layout>
        <section class="landing">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h1>Some catchy Marketing phrase</h1>
                    </div>
                </div>
            </div>
        </section>

        <section id="differences">
            <header>
                <h2>What makes us different?</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis venenatis volutpat. Aenean at facilisis dui, in efficitur nisi. Maecenas.
                </p>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div id="features" data-children=".item">
                            <div class="item">
                                <a data-toggle="collapse" data-parent="#features" href="#first" aria-expanded="true"
                                   aria-controls="first">
                                    Toggle item
                                </a>
                                <div id="firs" class="collapse show" role="tabpanel">
                                    <p class="mb-3">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <a data-toggle="collapse" data-parent="#features" href="#second" aria-expanded="false"
                                   aria-controls="second">
                                    Toggle item 2
                                </a>
                                <div id="second" class="collapse" role="tabpanel">
                                    <p class="mb-3">
                                        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <a data-toggle="collapse" data-parent="#features" href="#third" aria-expanded="false"
                                   aria-controls="third">
                                    Toggle item 3
                                </a>
                                <div id="third" class="collapse" role="tabpanel">
                                    <p class="mb-3">
                                        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 offset-1">
                        <img src="http://via.placeholder.com/350x500" alt="" class="shadow wide">
                    </div>
                </div>
            </div>
        </section>

        <section class="light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>Our awesome product will impact ... ?</h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna lorem, efficitur eget risus sed, volutpat egestas elit. Ut ultricies felis a aliquam mattis. Etiam sodales nisl eu urna congue dignissim. Nam a tellus sed.
                        </p>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna lorem, efficitur eget risus sed, volutpat egestas elit. Ut ultricies felis a aliquam mattis. Etiam sodales nisl eu urna congue dignissim. Nam a tellus sed.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="team">
            <header>
                <h2>Meet the Team</h2>
            </header>
            <div class="container">
                <div class="row">
                    <div v-for="item in members" class="col-sm-3 member">
                        <img src="http://i.pravatar.cc/150" alt="Placeholder Manga">
                        <h5>{{ item.name }}</h5>
                    </div>
                </div>
            </div>
        </section>
    </layout>
</template>