<script type="text/ecmascript-6">
  import { mapGetters, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        header: 'header'
      })
    },
    methods: {
      ...mapActions([
        'shrinkHeader'
      ]),
      handleScroll (event) {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          this.shrinkHeader({shrink: true})
        } else {
          this.shrinkHeader({shrink: false})
        }
      }
    },
    /**
     * Prepare document
     */
    mounted () {
      window.addEventListener('scroll', this.handleScroll)
    },
  }
</script>

<template>
    <header id="header" :class="{ shrink: this.header.shrink}">
        <div class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li class="navbar-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="nav-link">Product</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="nav-link">Features</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="nav-link">Item</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-logo">
                    <img src="img/logo-head.jpeg" alt="Mad Panda Logo">
                </div>
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </header>
</template>