<script type="text/ecmascript-6"></script>

<template>
    <footer>
        <div class="container meta">
            <div class="row">
                <div class="col-sm-6 ml-auto">
                    <p>&copy; 2017. Created with dedication by <a href="#">Mad Panda, Inc</a></p>
                </div>
            </div>
        </div>
    </footer>
</template>