<script type="text/ecmascript-6">
  import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
  import MainHeader from './MainHeader.vue'
  import MainFooter from './MainFooter.vue'

  export default {
    components: {
      MainHeader,
      MainFooter
    },
  }
</script>

<template>
    <div>
        <main-header></main-header>

        <slot/>

        <main-footer></main-footer>
    </div>
</template>