footer {
  width: 100%;

  .meta {
    padding: 2rem 0 1.3rem;

    p {
      text-align: right;
      font-size: .75rem;
      line-height: .9rem;
      font-weight: 500;
    }

    @media screen and (max-width: map_get($container-max-widths, 'md')) {
      padding: 0 10px;
    }
  }
}