#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5001;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    .navbar-nav {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;

      li {
        margin-right: 1.4rem;
      }
    }

    .navbar-logo {
      //flex: 1 1 auto;

      img {
        max-height: 60px;
      }
    }
  }

  &.shrink {
    padding: 0;
    background-color: $white;
    max-height: 75px;

    @include box-shadow(0px 8px 25px 0px rgba($black, 0.04));

    .navbar {

    }

    .navbar-nav {
      li {

        a {
          //
        }

        &.active {

        }
      }
    }
  }
}