section {
  position: relative;
  padding: 7.4rem 0;
  border-top: 1px solid #ebebeb;

  header {
    text-align: center;
    margin: 0 auto 70px;
    max-width: 75%;
  }

  p {
    &.lead {
      margin-bottom: 1.3rem;
      color: $gray-600;
    }
  }

  &.landing {
    border-top: 0;
    height: 80vh;
    background: url('../img/hero.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
      font-weight: 300;
      color: $white;
    }
  }

  &.light {
    background-color: #fafafa;
  }

  &.dark {
    background-color: #212121;
  }

  #features {
    .item {
      a {
        display: block;
        width: 100%;
        color: $gray-800;
        padding: .5rem 0;
        margin-bottom: 1rem;

        &:not(.collapsed) {
          border-bottom: 1px solid rgba(236, 236, 236, .3);
        }

        .collapse {

        }
      }
    }
  }

  &#team {
    .member {
      text-align: center;
      margin-bottom: 50px;

      img {
        border-radius: 50%;
        margin-bottom: 30px;
        max-height: 200px;
      }

      h5 {
        line-height: 1.3rem;
      }

      p {

      }
    }
  }
}